<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="card">
      <h1>Recipes</h1>
      <a href="/recipes/new"><button>Add a Recipe</button></a>
      <section class="recipeNames">
        <% for(let i = 0; i< recipe.length; i+=1){ %>
        <section class="eachRecipe">
          <a href="/recipes/<%=recipe[i]._id %> ">
            <h2 class="recipeName"><%= recipe[i].name%></h2>
          </a>
          <h3><%=recipe[i].difficulty %></h3>
            <ul class="allergyIndicator">
              <% if(recipe[i].allergyFree.gluten){ %>
              <li><img src="https://i.imgur.com/hLCBvKT.png" alt="Gluten-Free" class="allerIcon"><p class="hiddenLabel">Gluten-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.dairy){ %>
              <li><img src="https://i.imgur.com/Y5S7RnW.png" alt="Dairy-Free" class="allerIcon"><p class="hiddenLabel">Dairy-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.treeNut){ %>
              <li><img src="https://i.imgur.com/B7gJ5g8.png" alt="Tree Nut-Free" class="allerIcon"><p class="hiddenLabel">Tree Nut-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.egg){ %>
              <li><img src="https://i.imgur.com/zRgNnQn.png" alt="Egg-Free" class="allerIcon"><p class="hiddenLabel">Egg-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.nuts){ %>
              <li><img src="https://i.imgur.com/wgJhln8.png" alt="Nut-Free" class="allerIcon"><p class="hiddenLabel">Nut-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.fish){ %>
              <li><img src="https://i.imgur.com/6l4AQnL.png" alt="Fish-Free" class="allerIcon"><p class="hiddenLabel">Fish-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.shellfish){ %>
              <li><img src="https://i.imgur.com/oE1bOyJ.png" alt="Shellfish-Free" class="allerIcon"><p class="hiddenLabel">Shellfish-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.soy){ %>
              <li><img src="https://i.imgur.com/oFMmsGd.png" alt="Soy-Free" class="allerIcon"><p class="hiddenLabel">Soy-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.sesameSeeds){ %>
              <li><img src="https://i.imgur.com/ebBUbRX.png" alt="Sesame Seeds-Free" class="allerIcon"><p class="hiddenLabel">Sesame Seeds-Free</p></li>
              <% } %> <% if(recipe[i].allergyFree.vegan){ %>
              <li><img src="https://i.imgur.com/0rBltQU.png" alt="Vegan" class="allerIcon"><p class="hiddenLabel">Vegan</p></li>
              <% } %> <% if(recipe[i].allergyFree.vegetarian){ %>
              <li><img src="https://i.imgur.com/ycUUQXY.png" alt="Vegetarian" class="allerIcon"><p class="hiddenLabel">Vegetarian</p></li>
              <% } %> <% if(recipe[i].allergyFree.keto){ %>
              <li><img src="https://i.imgur.com/NRIkIH9.png" alt="Keto" class="allerIcon"><p class="hiddenLabel">Keto</p></li>
              <% } %>
            </ul>
        </section>
        <% } %>
      </section>
    </main>

  </body>
</html>
