<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/static/show.css">
    <script>
      // Function to Load the file
      const loadFile = (event) => {
	const image = document.querySelector('#output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
    </script>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
   <div class="deleteButton">
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Recipe" />
   </form>
   </div>
    <h1><%=recipe.name %></h1>
    <img id="output" width="200" />
    <h2>Difficulty: <%=recipe.difficulty %></h2>

<section class="recipeDetails">
    <section class="allergies">
        <ul>
            <% if(recipe.allergyFree.gluten){ %>
            <li><p>Gluten-Free</p></li>
            <% } %> <% if(recipe.allergyFree.dairy){ %>
            <li><p>Dairy-Free</p></li>
            <% } %> <% if(recipe.allergyFree.treeNut){ %>
            <li><p>Tree Nut-Free</p></li>
            <% } %> <% if(recipe.allergyFree.egg){ %>
            <li><p>Egg-Free</p></li>
            <% } %> <% if(recipe.allergyFree.nuts){ %>
            <li><p>Nut-Free</p></li>
            <% } %> <% if(recipe.allergyFree.fish){ %>
            <li><p>Fish-Free</p></li>
            <% } %> <% if(recipe.allergyFree.shellfish){ %>
            <li><p>Shellfish-Free</p></li>
            <% } %> <% if(recipe.allergyFree.soy){ %>
            <li><p>Soy-Free</p></li>
            <% } %> <% if(recipe.allergyFree.sesameSeeds){ %>
            <li><p>Sesame Seeds-Free</p></li>
            <% } %> <% if(recipe.allergyFree.vegan){ %>
            <li><p>Vegan</p></li>
            <% } %> <% if(recipe.allergyFree.vegetarian){ %>
            <li><p>Vegetarian</p></li>
            <% } %> <% if(recipe.allergyFree.keto){ %>
            <li><p>Keto</p></li>
            <% } %>
          </ul>
    </section>
        <section class="ingredients">
            <h2>Ingredients</h2>
            <% for(let ingredient of recipe.ingredients){ %>
                <h3><%=ingredient %> </h3>
          <%  } %> 
        </section>
        <section class="instructions">
            <h2>Instructions</h2>
            <% for(let step of recipe.instructions){ %>
                <h3><%=step %> </h3>
          <%  } %> 
        </section>
</section>
<a href="/recipes/<%=recipe._id %>/edit"><button>Edit Recipe</button></a>
<a href="/recipes"><button>Back to Recipe List</button></a>